.container {
  position: fixed;
  top: 0;
  right: -30vw;
  width: 30vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 2px solid var(--color-border);
  will-change: transform;
  background-color: var(--color-background-oposite);

  &.slide-in {
    animation: slideIn 0.5s forwards;
    z-index: 101;
  }

  &.slide-out {
    animation: slideOut 0.5s forwards;
    z-index: 200;
  }

  @media (max-width: 900px) {
    right: -80vw;
    width: 80vw;
  }
}

.header {
  display: flex;
  padding-left: 18px;

  .capital {
    font-size: 18px;
    margin-top: 10px;
  }

  .invest {
    font-size: 18px;
    color: var(--primary);
    font-weight: bold;
  }
}

.animation-exit {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  background-color: var(--gray-soft);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
}

.content {
  display: grid;
  align-items: center;
  height: 100%;
}

.body {
  font-size: 16px;
  color: var(--color-background-oposite);
  list-style-type: none;
  padding-left: 20px;

  @media (max-width: 1024px) {
    padding-left: 20px;
  }
}

.items {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.svg {
  background-color: null;

  &:hover {
    background-color: var(--primary);
  }

  width: 50px;
  height: 50px;
  cursor: pointer;
}

.paragrah {
  font-size: 18px;
  margin-left: 18px;
}

.contact {
  border-top: 1px solid var(--color-border);
  width: 100%;
  display: grid;
  padding-bottom: 8px;
  padding-top: 8px;
}

.contact-tel {
  padding-left: 18px;
  font-size:18px;
  color: var(--color-background-oposite);
  font-weight: bold;
  padding-top: 8px;
}

.contact-email {
  padding-left: 18px;
  font-size: 18px;
  color: var(--gray-soft);
  padding-top: 20px;
}

.bg {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: rgba(20, 22, 27, 0.5);
  animation: fadeIn 0.5s forwards;
  z-index: 100;
}

@keyframes slideIn {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@keyframes slideOut {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}

@keyframes fadeIn {
  0% { visibility: hidden; opacity: 0; }
  100% { visibility: visible; opacity: 1; }
}
