.billboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  height: 100%;
  max-width: var(--max-width);
  padding: 0 24px;
}

.billboard-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: calc(90vh);

  @media (max-width: 500px) {
    margin: 0 8px 0 0;
    height: calc(80vh);
  }

  .billboard-title {
    margin: auto 0;

    .slogan {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      color: var(--color-heading);
      padding-bottom: 16px;
      padding-top: 16px;
      animation: billboard-slide-in 1.2s 0.6s backwards;

      @media (max-width: 1024px) {
        font-size: 18px;
      }
    }

    .title {
      color: var(--color-heading);
      line-height: 40px;
      font-size: 32px;
      line-height: 48px;
      animation: billboard-slide-in 1s 0.6s backwards;
      @media (max-width: 1024px) {
        font-size: 24px;
      }
      @media (max-width: 768px) {
        font-size: 20px;
      }
    }

    .action-button {
      margin-top: 40px;
      animation: billboard-slide-in 1s 0.5s backwards;
      color: var(--white);
      background-color: var(--primary);
      border: none;
      padding: 16px 32px;
      font-size: 20px;
    }
  }

  .billboard-arrow {
    padding-bottom: 16px;

    .arrow-rotate {
      transform: rotate(-45deg);
      width: 80px;
    }

    .arrow {
      animation: pointingDown 2s ease-in-out infinite 3.5s both;
    }
  }
}

.billboard-right {
  position: relative;
  height: calc(90vh);
  
  @media (max-width: 1024px) {
    height: calc(80vh);
  }

  .billboard-image {
    object-fit: cover;
    height: calc(90vh);
    @media (max-width: 1024px) {
      width: 500px;
    }

    @media (max-width: 768px) {
      width: 400px;
    }

    @media (max-width: 600px) {
      width: 300px;
    }

    @media (max-width: 500px) {
      width: 200px;
    }
  }

  .image-bg {
    position: absolute;
    left: 0;
    top: 0;
    background-image: red;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
    animation: imageBgSlide 1s ease-out forwards;
  }
}





.button {
  padding-top: 40px;
  animation: billboard-slide-in 1s 0.5s backwards;
}

@keyframes pointingDown {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes billboard-slide-in {
  0% {
    transform: translateX(60px);
    visibility: hidden;
    opacity: 0;
  }

  25% {
    transform: translateX(50px);
    visibility: hidden;
    opacity: 0.5;
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes imageBgSlide {
  0% {
    background-size: 100% 100%;
  }

  100% {
    background-size: 0% 100%;
  }
}
