.container {
  display: grid;
  margin-top: 24px; /* Replaced $spacing-xl with its corresponding value */
  gap: 32px; /* Replaced $spacing-lg with its corresponding value */
  grid-template-columns: 1fr 1fr;
}

.main,
.mainMiddle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainMiddle {
  order: 1;
}

.image {
  max-width: 100%;
  height: auto;
  width: 400px;
}

.description {
  padding: 8px 0 16px; /* Replaced $spacing-sm and $spacing-xl with their corresponding values */
  font-size: 16px; /* Replaced $text-p with its corresponding value */
  position: relative;
}

.blogSlogan {
  font-weight: bold;
  padding-bottom: 4px; /* Replaced $spacing-xxxs with its corresponding value */
  font-size: 20px; /* Replaced $text-h5 with its corresponding value */
}